<?xml version="1.0" encoding="UTF-8"?>
<beans>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource. DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/elearning" />
		<property name="username" value="root" />
		<property name="password" value="admin" />
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- dataSource引用了datasource bean -->
		<property name="typeAliases"
			value="com.mybatis3.domain.Student, com.mybatis3.domain.Tutor" />
			<!-- 类名列表 -->
		<property name="typeAliasesPackage" value="com.mybatis3.domain" />
				<!-- 报名列表 -->
		<property name="typeHandlers" value="com.mybatis3.typehandlers.PhoneTypeHandler" />
		<property name="typeHandlersPackage" value="com.mybatis3.typehandlers" />
		<property name="mapperLocations" value="classpath*:com/mybatis3/**/*.xml" />
		<property name="configLocation" value="WEB-INF/mybatisconfig.xml" />
	</bean>
</beans>